
    
     body {
           background-color: #FFEDDB;

     }
     hr {
       background-color: #EAF6F6;
       border-style: none;
       border-top-style: dotted;
       border-color: grey;
       border-width: 4px;
       width: 4%;
     }
     
     img {
       width: 220px;
       height: 220px;
       border-radius: 50%;
       object-fit: cover;
       border: 4px solid #2c2c2c;
            /* margin-bottom: 20px; */
     }

     h1,h2,h3,h4,h5,h6{
       color:  #66BFBE;
     }
  





    
